<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Manage Tours</title>
</head>
<body>
<h2>All Tours</h2>
<a th:href="@{/admin/tours/add}">Add New Tour</a>






<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Actions</th>
    </tr>
    <tr th:each="tour : ${tours}">
        <td th:text="${tour.id}"></td>
        <td th:text="${tour.name}"></td>
        <td th:text="${tour.description}"></td>
        <td th:text="${tour.price}"></td>
        <td>
            <a th:href="@{/admin/tours/edit/{id}(id=${tour.id})}">Edit</a>
            <a th:href="@{/admin/tours/delete/{id}(id=${tour.id})}">Delete</a>
        </td>
    </tr>
</table>
</body>
</html>