<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Bookings</title>
</head>
<body>
<h2>All Bookings</h2>
<table>
    <tr>
        <th>ID</th>

        <th>User Name</th>
        <th>Email</th>
        <th>Adults/Children</th>
        <th>Tour Package</th>
        <th>Tour Category</th>
        <th>Destination</th>

    </tr>
    <tr th:each="booking : ${bookings}">
        <td th:text="${booking.id}"></td>

        <td th:text="${booking.userName}"></td>
        <td th:text="${booking.userEmail}"></td>
        <td th:text="${booking.numberOfAdults} + '/' + ${booking.numberOfChildren}"></td>
        <td th:text="${booking.tourPackage}"></td>
        <td th:text="${booking.category}"></td>
        <td th:text="${booking.destination}"></td>

    </tr>
</table>
</body>
</html>