<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Quick Bookings</title>
</head>
<body>
<h2>All Bookings</h2>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Adults</th>
        <th>Children</th>
        <th>Tour Package</th>
        <th>Duration</th>
        <th>Destination</th>
        <th>Category</th>
        <th>Created At</th>
    </tr>
    <tr th:each="b : ${bookings}">
        <td th:text="${b.userName}"></td>
        <td th:text="${b.userEmail}"></td>
        <td th:text="${b.numberOfAdults}"></td>
        <td th:text="${b.numberOfChildren}"></td>
        <td th:text="${b.tourPackage}"></td>
        <td th:text="${b.duration}"></td>
        <td th:text="${b.destination}"></td>
        <td th:text="${b.category}"></td>
        <td th:text="${b.createdAt}"></td>
    </tr>
</table>
</body>
</html>
